.bottles {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    gap: 10px;
}

.bottle {
    width: 50px;
    height: 110px;
    position: relative;
}

.bottle {
    background-color: blanchedalmond;
    border: 1px solid cadetblue;
    overflow: hidden;
    border-radius: 0 0 25px 25px;
}

.bottle.chosen {
    animation: bottle-chosen 2.5s infinite linear;
}

@keyframes bottle-chosen {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
}

.bottle.filled {
    opacity: 0.5;
}

.colors-container {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.color {
    width: 100%;
}